.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.slot {
    padding: 10px 16px;
    border: 1px solid #d1d5db;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.activeSlot {
    padding: 10px 16px;
    border: none;
    background-color: #111827;
    color: white;
    border-radius: 10px;
}